<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bienvenue chez Banque & Co</title>
    <div th:include="_header"/>
</head>
<body>
<div class="container container-fluid">
    <div class="row justify-content-center col-12 text-center">
        <h1>Bienvenue chez Banque & Co</h1>
    </div>
    <div class="row justify-content-center col-12 text-center alert alert-info">
        <span th:text="${'Votre compte a été correctement créé. Vous pouvez maintenant vous connecter avec l identifiant suivant : ' + uniqueId}"></span>
    </div>
    <div class="row justify-content-center col-12 text-center">
        <a class="btn btn-dark" th:href="@{/login}">Se connecter</a>
    </div>
</div>
</body>
</html>