<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Banque & Co</title>
    <div th:include="_header"/>
</head>
<body>
<div class="container-fluid">
    <div th:include="_navbar"></div>
    <div th:if="${#lists.isEmpty(account.operations)}">
        <div class="row col-12 alert alert-warning">
            <span>Aucune opération n'est liée à ce compte.</span>
        </div>
    </div>
    <table class="table operations-list" th:if="${not #lists.isEmpty(account.operations)}">
        <thead>
            <tr>
                <th scope="col">Numéro opération</th>
                <th scope="col">Nom</th>
                <th scope="col">Date</th>
                <th scope="col">Montant</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="operation : ${account.operations}">
                <th scope="row" th:text="${operation.id}"></th>
                <td th:text="${operation.name}"></td>
                <td th:text="${operation.createdAt}"></td>
                <td th:text="${operation.value + '€'}"></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>